*.aux
*.lof
*.log
*.out
*.gz
*.toc
*.bbl
*.blg
*.odg
*.bak
*.dylib
*.xcodeproj
ausarbeitung/*.pdf
.buildlog
*.build
*~
*.o
*.pro*
.DS_Store
build
psys_dna.texbak
psys_dna.tex
psys_dna_text.tex
smith_waterman_cli
packages
dna_alignment_dart_ui/web/out/
sw
*.class
*.seq
